.add{
  width: 100%;
  margin: auto;
}

.addFooterList{
  height: 60px;
  line-height: 60px;
}

.addFooterMenu{
  width: 15%;
}

#browserArea{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.3);
}

#loading{
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchView{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#addFooter{
  background-color: rgba(255, 255, 255, 0.11);
  padding-left: 8%;
  padding-right: 5%;
}
