.add{
  width: 100%;
  margin: auto;
}

.addFooterList{
  height: 60px;
  line-height: 60px;
}

.addFooterMenu{
  width: 18%;
}

#searchView{
  width: 100%;
  height: 80%;
  background-color: rgb(255, 255, 255);
}

#addFooter{
  background-color: rgba(255, 255, 255, 0.11);
  padding-left: 8%;
  padding-right: 5%;
}
