.manage{
  width: 80%;
  margin: auto;
}

#mainTitle{
  color: rgb(200, 200, 200);
  font-size: 45px;
  margin: 40px 0px 20px 0px;
}

#mainTop{
  border: 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  color: rgb(122, 122, 122);
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 5px;
}

#mainHeader{
  border: 1px solid;
  border-top: hidden;
  text-align: center;
  color: rgb(122, 122, 122);
  background-color: rgb(200, 200, 200);
  padding: 5px;
}

#mainList{
  border: 1px solid;
  border-top: hidden;
  text-align: center;
  color: rgb(122, 122, 122);
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

#horizontalList{
  margin: 0;
}

#listItem{
  display: inline-block;
}

#searchBox{
  border:none;
  color:rgb(122,122,122);
  outline: 0;
}
