@import 'manage.css';
@import 'add.css';
@import 'home.css';

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  background: rgb(62, 62, 62);
}

h1, p{
  margin: 0;
}

#header{
  color: rgb(82, 45, 39);
  background-color: rgb(228, 165, 56);
  font-size: 20px;
  margin: 0;
  padding: 5px;
  font-style: oblique;
}

#menu{
  color: rgb(228, 165, 56);
  background-color: rgb(82, 45, 39);
  margin: 0;
  padding: 5px;
}

#contents{
  width: 100%;
  height: 100%;
  margin: 0;
}

.hover:hover{
  opacity: 0.8;
}
