div.contents.add(style="display:none;")
  div#browserArea
    webview#searchView(src="http://www.gooogle.com" nodeIntegration="true")
    div#loading
      input(type="image" src="../../images/loadingTest.gif")
  div#addFooter
    ul#horizontalList.addFooterList
      li#listItem.addFooterMenu
        span.hover.pointer 戻る
      li#listItem.addFooterMenu 
        span.hover.pointer 進む
      li#listItem.addFooterMenu
        span#home.hover.pointer ホーム
      li#listItem.addFooterMenu 
        span.hover.pointer 履歴
      li#listItem.addFooterMenu
        span#modeChange.hover.pointer モード 
