div.contents.home(width="100%" style="display:block")
  div.mainTitle 最新のニュース
  div#news
    ul(style="padding:0;")
      li.horizontalItem#newsContent
        div.newsBlock
          div.newsBlock_header
            webview.newsView()
          div.newsBlock_footer
            p fugafuga

      li.horizontalItem#newsContent
        div.newsBlock
          div.newsBlock_header
            webview.newsView()
          div.newsBlock_footer
            p fugafuga
            
      li.horizontalItem#newsContent
        div.newsBlock
          div.newsBlock_header
            webview.newsView()
          div.newsBlock_footer
            p fugafuga
            
      li.horizontalItem#newsContent
        div.newsBlock
          div.newsBlock_header
            webview.newsView()
          div.newsBlock_footer
            p fugafuga
            
      li.horizontalItem#newsContent
        div.newsBlock
          div.newsBlock_header
            webview.newsView()
          div.newsBlock_footer
            p fugafuga
