div#contents.contents.manage(width="100%" style="display:none;")
  div#main
    div#mainTitle
      p 管理
    div#mainTop
      input#searchBox(type="text" style="font-size:20px;" value="Search")
    div#mainHeader
      ul#horizontalList
        li#listItem(style="width:30%") URL
        li#listItem(style="width:30%") サイト名
        li#listItem(style="width:30%") 最終アクセス
    div#mainList
      ul#horizontalList
        li#listItem(style="width:30%")
          a(href="http://www.hogehoge.com") http://www.hogehoge.com
        li#listItem(style="width:30%") hogehoge
        li#listItem(style="width:30%") 昨日
