include ../_header.pug
  div#header(width="100%")
    h1 Pullin
  div#menu(width="100%")
    p menu
  div#contents(width="100%")
    div#main
      div#mainTitle
        p Table Name
      div#mainTop
        p Search
      div#mainHeader
        ul#horizontalList
          li#listItem URL
          li#listItem サイト名
          li#listItem 最終アクセス
      div#mainList
        ul#horizontalList
          li#listItem http://www.hogehoge.com
          li#listItem hogehoge
          li#listItem 昨日
