include ../_header.pug
  div#header(width="100%")
    h1 Pullin
  div#menu(width="100%")
    ul#horizontalList
      li#listItem(style="width:13%") Menu
      li#listItem.hover.menuSelector(style="width:10%" name="home") Home
      li#listItem.hover.menuSelector(style="width:10%" name="add") 追加
      li#listItem.hover.menuSelector(style="width:10%" name="manage") 管理
  include _manage.pug
  include _add.pug
  include _home.pug
