include ../_header.pug
  div#header(width="100%")
    h1 Pullin
  div#menu(width="100%")
    p menu
  div#contents(width="100%")
    div#main
      div#mainTitle
        p Table Name
      div#mainTop
        p Search
      div#mainHeader
        p fugafuga
      div#mainList
        p fugafuga
      div#mainList
        p fugafuga
