include ../_header.pug
  div#header(width="100%")
    h1 Pullin
  div#menu(width="100%")
    ul#horizontalList
      li#listItem(style="width:13%") Menu
      li#listItem(style="width:10%")
        span.pointer.hover.menuSelector(name="home") Home
      li#listItem(style="width:10%")
        span.pointer.hover.menuSelector(name="add") 追加
      li#listItem(style="width:10%") 
        span.pointer.hover.menuSelector(name="manage") 管理
  div#contents
    include _manage.pug
    include _add.pug
    include _home.pug
